.wrap {

    h1 {
        text-align: center;
    }

    input {
        height: 30px;
        width: 100%;
        border: 1px solid #1899D6;
        padding-left: 10px;
        box-sizing: border-box;
    }
}